In [8]:
import pandas as pd
import numpy as np

In [9]:
p1 = '/home/ai03/_kunyi/pro_tasi/kidney_labeling_csv/'
p1 = p1 + 'data5-5_20210723_0830.csv'
pd1_1 = pd.read_csv(p1)

In [10]:
pd1_1.head()

         ID gender       birth        住院日        age DMSA_APN
0  14520507      F  2007/04/06  2011-05-12  4.101370      NaN
1  14539654      F  2009/03/14  2011-05-24  2.194521      NaN
2  14597232      F  2009/09/24  2011-06-28  1.758904        R
3  14588994      F  2010/07/25  2011-07-06  0.947945        B
4  14630358      M  2011/04/20  2011-07-18  0.243836        B

In [11]:
pd1_cols1 = pd1_1.columns.tolist()
pd1_cols2 = pd1_cols1[0:1] + pd1_cols1[5:6] 
pd1_2 = pd1_1[pd1_cols2]
pd1_2.shape[0]

415

In [12]:
pd1_2.head()

         ID DMSA_APN
0  14520507      NaN
1  14539654      NaN
2  14597232        R
3  14588994        B
4  14630358        B

In [13]:
pd1_3 = pd1_2.dropna()
pd1_3.shape[0]

372

In [14]:
pd1_3.head()

         ID DMSA_APN
2  14597232        R
3  14588994        B
4  14630358        B
6  13200133        R
7  14648960        N

In [15]:
import os 
from PIL import Image 
import pathlib

In [16]:
def check_if_file_exist(target_dir):
    file = pathlib.Path(target_dir)
    if file.exists():
        print ("File exist")
    else:
        print ("File not exist")
        os.makedirs(target_dir)

In [17]:
def img_labeling(img_source_dir, target_dir):
    files_list = os.listdir(img_source_dir)
    files_dir = [os.path.join(
        img_source_dir, name) for name in files_list]
    for i in range(0, pd1_3.shape[0]):
        h_id = pd1_3.iloc[i, 0]
        apn = pd1_3.iloc[i, 1]

        for img_file, img_name in zip(files_dir, files_list):
            if str(h_id) == img_name[0:8]:
                image = Image.open(img_file)

                if apn == 'N':
                    label = 0
                    f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      

                if apn == 'B':
                    label = 1
                    f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)   

                if apn == "L":
                    if img_name[18:19] == 'R':
                        label = 0
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      
                    if img_name[18:19] == 'L':
                        label = 1
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      

                if apn == "R":
                    if img_name[18:19] == 'R':
                        label = 1
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      
                    if img_name[18:19] == 'L':
                        label = 0
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      

                image.save(target_dir+"/"+f_img_name)

In [18]:
base_dir = '/home/ai03/_kunyi/pro_tasi/yolov5_5/datasets/'

In [19]:
img_source_dir = base_dir + "images/no_UB_crop_LtRt_hw"
target_dir = base_dir + "images/no_UB_crop_LtRt_hw_labeling"
check_if_file_exist(target_dir)
img_labeling(img_source_dir, target_dir)

File not exist

In [20]:
img_source_dir = base_dir + "images/no_UB_crop_LlRl_hw"
target_dir = base_dir + "images/no_UB_crop_LlRl_hw_labeling"
check_if_file_exist(target_dir)
img_labeling(img_source_dir, target_dir)

File not exist