In [1]:
import pandas as pd
import numpy as np

In [2]:
p1 = '/home/ai03/_kunyi/pro_tasi/kidney_labeling_csv/'
p1 = p1 + '2014-2019-UTI-renal echo-DMSA-VCUG-亞大.csv'
pd1_1 = pd.read_csv(p1)

In [3]:
pd1_1.head()

,病歷號碼,性別,echo,2VOI (VCUG),NM401 (DMSA),APN,DMSA_RF,DMSA_LF
0,19505747,F,NaN,"Vesicoureteral reflux, right side, grade IV.\n",Exam Date : 2019/12/11 14:06:57 ( Approved )\n...,R't APN,45.4,54.6
1,19661465,M,NaN,NaN,Exam Date : 2019/11/08 11:34:11 ( Approved )\n...,no APN,53.3,46.7
2,18948947,M,NaN,"1) Vesicoureteral reflux, right side, grade II...",Exam Date : 2019/10/21 11:30:34 ( Approved )\n...,no APN,49.3,50.7
3,19599681,F,NaN,NaN,Exam Date : 2019/10/01 10:06:00 ( Approved )\n...,no APN,52.3,47.7
4,18687063,M,NaN,NaN,Exam Date : 2019/07/12 10:58:54 ( Approved )\n...,no APN,50.6,49.4

In [4]:
pd1_cols1 = pd1_1.columns.tolist()
pd1_cols2 = pd1_cols1[0:1] + pd1_cols1[5:6] 
pd1_2 = pd1_1[pd1_cols2]
pd1_2.shape[0]

303

In [5]:
pd1_2

         病歷號碼      APN
0    19505747  R't APN
1    19661465   no APN
2    18948947   no APN
3    19599681   no APN
4    18687063   no APN
..        ...      ...
298  15628425      NaN
299  15564952      NaN
300  15553304      NaN
301  14350227      NaN
302  15534115      NaN

[303 rows x 2 columns]

In [6]:
pd1_3 = pd1_2.dropna()
pd1_3.shape[0]

156

In [7]:
pd1_3

         病歷號碼      APN
0    19505747  R't APN
1    19661465   no APN
2    18948947   no APN
3    19599681   no APN
4    18687063   no APN
..        ...      ...
152  17560943  Bil APN
153  17555940  Bil APN
154  17548598  L't APN
155  17534904  Bil APN
156  17527484   no APN

[156 rows x 2 columns]

In [8]:
import os 
from PIL import Image 
import pathlib

In [9]:
def check_if_file_exist(target_dir):
    file = pathlib.Path(target_dir)
    if file.exists():
        print ("File exist")
    else:
        print ("File not exist")
        os.makedirs(target_dir)

In [10]:
def img_labeling(img_source_dir, target_dir):
    files_list = os.listdir(img_source_dir)
    files_dir = [os.path.join(
        img_source_dir, name) for name in files_list]
    for i in range(0, pd1_3.shape[0]):
        h_id = pd1_3.iloc[i, 0]
        apn = pd1_3.iloc[i, 1]

        for img_file, img_name in zip(files_dir, files_list):
            if str(h_id) == img_name[0:8]:
                image = Image.open(img_file)

                if apn == 'no APN':
                    label = 0
                    f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      

                if apn == 'Bil APN':
                    label = 1
                    f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)   

                if apn == "L't APN":
                    if img_name[18:19] == 'R':
                        label = 0
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      
                    if img_name[18:19] == 'L':
                        label = 1
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      

                if apn == "R't APN":
                    if img_name[18:19] == 'R':
                        label = 1
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      
                    if img_name[18:19] == 'L':
                        label = 0
                        f_img_name = img_name[0:-4]+'[{}].jpg'.format(label)      

                image.save(target_dir+"/"+f_img_name)

In [11]:
base_dir = '/home/ai03/_kunyi/pro_tasi/yolov5_4_v2/datasets/'

In [12]:
img_source_dir = base_dir + "images/no_UB_crop_LtRt_hw"
target_dir = base_dir + "images/no_UB_crop_LtRt_hw_labeling"
check_if_file_exist(target_dir)
img_labeling(img_source_dir, target_dir)

File not exist

In [13]:
img_source_dir = base_dir + "images/no_UB_crop_LlRl_hw"
target_dir = base_dir + "images/no_UB_crop_LlRl_hw_labeling"
check_if_file_exist(target_dir)
img_labeling(img_source_dir, target_dir)

File not exist